.content-box {
  border: 1px solid #33242c;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #584c52;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.content-box-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.content-box-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

